/*
CSS for Falcon-Site
*/

body{
	font-family: Verdana, Helvetica, Arial, sans-serif;
	background-color: #f2c761;
	line-height: 125%;
	padding: 15px;
}

#header{
	width: 1000px;
	padding: 15px;
}

h1, h2{
background-color: rgba(48, 73, 105, 0.80);
padding: 15px;
}

h2,h3{
font-family: "Gabriela", Helvetica, Arial, sans-serif;
font-size: x-large;
padding: 15px;
width: 1000px;
}

#navigation ul{
	list-style-type: none;
	width: 480px;
	padding: 15px;
	margin: auto 0;
	overflow: hidden;
}

#navigation li{
	width: 120px;
	float: left;
}

#navigation a{
	text-decoration: none;
	color: #304969;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: left; 
}

#photogallery li{
	list-style-type: none;
}

#header{
	font-family: "Gabriela", Helvetica, Arial, sans-serif;
	font-size: large;
}

#tagline p{
	font-size: x-large;
	color: #682412;
	font-weight: bold;
	font-family: "Gabriela", Helvetica, Arial, sans-serif;
	line-height: 8%;
	padding: 15px;
	text-shadow: 2px 4px 2px #682412;
}

ol li{
	font-size: large;
	color: black;
	font-family: "Elsie", cursive;
	padding: 10px;
}

p{
	font-size: large;
	color: #304969;
	font-family: "Elsie", cursive;
	padding: 10px;
	letter-spacing: 0.05em;
}

.fun{
	color: #ce4c31;
	font-family: Georgia, Times, serif;
	letter-spacing: 0.05em;
}