/*
CSS for Falcon-Site
*/

body{
	font:100%/125%;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	background-color: #ddbf87;
	background-image: url(../images/gradient.jpg);
	padding: 1.5625%; /*15px/960*/
	max-width: 960px;
	margin: 0 auto;

}

p{
	font-size: 1.1875em; /*19px*/
	font-family: "Elsie", cursive;
	color: #304969;
	padding: 1.041667%; /*10px/960*/
	letter-spacing: 0.05em;
}


h1, h2{
	background-color: rgba(48, 73, 105, 0.80);
	padding: 1.5625%; /*15px/960*/
	background-image: url(../images/background1.jpg);
}

h2{
	font-size: 1.875em; /*30px*/
	font-family: "Gabriela", Helvetica, Arial, sans-serif;
	padding: 1.5625%; /*15px/960*/
}

h3{
	font-size: 1.25em; /*20px*/
	font-family: "Gabriela", Helvetica, Arial, sans-serif;
	padding: 1.5625%; /*15px/960*/
}

/*----------------Section and List Styles----------------*/

section img{
	margin-bottom: 1.041667%; /*10px/960*/
	border: 5px solid black;
}

section{
-moz-column-count: 3;
}

#home{
margin-top: 1.04667%; /*10px/960*/
}

ol li{
	font-size: 1.1875em; /*19px*/
	font-family: "Elsie", cursive;
	color: black;
	padding: 1.04667%; /*10px/960*/
}

ol img{
	border: 10px inset #999;
	box-shadow: 10px 10px 10px #666;

}

.fun{
	color: #ce4c31;
	font-family: Georgia, Times, serif;
	letter-spacing: 0.05em;
}



/*-------------------Navigation-----------------*/

#navigation ul{
	list-style-type: none;
	width: 50%; /*480px/960*/
	padding: 3.125%; /*15px/480*/
	margin: 0 auto;
	overflow: hidden;
}

#navigation li{
	width: 25%; /*120px/480*/
	float: left;
}

#navigation a{
	text-decoration: none;
	color: #304969;
	display: block;
	height: 6.25%; /*30px/480*/
	line-height: 30px;
	text-align: center;
	border: 5px groove olive;
}

#navigation a:visited{
	color: navy;
}

#navigation a:hover{
	color: orange;
}

#navigation a:active{
	color: olive;
}

/*-------------------Photo Gallery--------------*/

#photogallery ul{
	list-style-type: none;
	width: 62.5%; /*600px/960*/
	margin: 2.083333% auto; /*20px/960*/
	overflow: hidden;
	padding: 1.666667%; /*10px/600*/
}

#photogallery li{
	float: left;
	margin-left: 2.604167%; /*25px/960*/
}

#photogallery a{
	border: 10px ridge #fff;
	display: block;
	height: 80px;
	width: 100px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #666;
	outline: 0;
	
}

#photogallery a:visited{
	border-color: navy;
}

#photogallery a:hover{
	border-color: olive;
}

#photogallery a:active{
	border-color: orange;
}

/*-------------Div ID's--------------*/

#header{
	font-family: "Gabriela", Helvetica, Arial, sans-serif;
	font-size: 1.5em; /*24px*/
	/*width: 93.75%; /*900px/960*/
	padding: 1.5626%; /*15px/960*/
}

#tagline p{
	font-size: 1.5em; /*24px*/
	color: #682412;
	font-weight: bold;
	font-family: "Gabriela", Helvetica, Arial, sans-serif;
	line-height: 8%;
	padding: 1.5625%; /*15px/960*/
	text-shadow: 2px 4px 2px #682412;
}

#wrapper{
	width: 100%; /*960px*/
	margin: 0 auto;
	overflow: hidden;
}

/*-------------------Call to Action Area-------------------*/

#cta{
background-color: olive;
margin-bottom: 20px;
}

/* button 
         ---------------------------------------------- */
.button {
	display: inline-block;
	display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: .875em/100% Arial, Helvetica, sans-serif; /*14px*/
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.bigrounded {
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
.medium {
	font-size: 12px;
	padding: .4em 1.5em .42em;
}
.small {
	font-size: 11px;
	padding: .2em 1em .275em;
}

/* orange */
.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
}




