/*
CSS for Falcon-Site
*/

body{
	font-family: Verdana, Helvetica, Arial, sans-serif;
	background-color: #f2c761;
	line-height: 125%;
	padding: 15px;
	width: 950px;
	margin: 0 auto;
}

p{
	font-size: large;
	color: #304969;
	font-family: "Elsie", cursive;
	padding: 10px;
	letter-spacing: 0.05em;
}


h1, h2{
	background-color: rgba(48, 73, 105, 0.80);
	padding: 15px;
}

h2,h3{
	font-family: "Gabriela", Helvetica, Arial, sans-serif;
	font-size: x-large;
	padding: 15px;
	width: 970px;
}

section img{
	margin-bottom: 10px;
	border: 5px solid black;
}

ol li{
	font-size: large;
	color: black;
	font-family: "Elsie", cursive;
	padding: 10px;
}

ol img{
	border: 10px inset #999;
	box-shadow: 10px 10px 10px #666;

}

.fun{
	color: #ce4c31;
	font-family: Georgia, Times, serif;
	letter-spacing: 0.05em;
}



/*-------------------Navigation-----------------*/

#navigation ul{
	list-style-type: none;
	width: 480px;
	padding: 15px;
	margin: auto 0;
	overflow: hidden;
}

#navigation li{
	width: 120px;
	float: left;
}

#navigation a{
	text-decoration: none;
	color: #304969;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: left; 
}

#navigation a:visited{
	color: navy;
}

#navigation a:hover{
	color: orange;
}

#navigation a:active{
	color: olive;
}

/*-------------------Photo Gallery--------------*/

#photogallery ul{
	list-style-type: none;
	width: 600px;
	margin: 20px auto;
	overflow: hidden;
	padding: 10px;
}

#photogallery li{
	float: left;
	margin-left: 25px;
}

#photogallery a{
	border: 10px ridge #fff;
	display: block;
	height: 80px;
	width: 100px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #666;
	outline: 0;
	
}

#photogallery a:visited{
	border-color: navy;
}

#photogallery a:hover{
	border-color: olive;
}

#photogallery a:active{
	border-color: orange;
}

/*-------------Div ID's--------------*/

#header{
	font-family: "Gabriela", Helvetica, Arial, sans-serif;
	font-size: large;
}

#tagline p{
	font-size: x-large;
	color: #682412;
	font-weight: bold;
	font-family: "Gabriela", Helvetica, Arial, sans-serif;
	line-height: 8%;
	padding: 15px;
	text-shadow: 2px 4px 2px #682412;
}

#header{
	width: 970px;
	padding: 15px;
	text-decoration: none;
}




